:root {
  --primary-color: #a130fc;
  --secondary-color: #eccfff;
  --heading-font-family: "Poppins", sans-serif;
  --paragraph-font-family: "Italiana", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  font-family: var(--heading-font-family);
}

.navbar-nav .nav-link.active {
  color: var(--primary-color);
}

.nav-link {
  color: black;
  transition: all 150ms ease-in-out;
}

.nav-link:hover {
  color: var(--primary-color);
}

h1 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 68px;
  line-height: 1;
}

h2 {
  font-family: var(--paragraph-font-family);
  font-weight: 600;
  font-style: italic;
  font-size: 24px;
}

h3 {
  font-family: var(--heading-font-family);
  font-size: 44px;
}

p {
  font-family: var(--heading-font-family);
  font-size: 20px;
  font-weight: 200;
  line-height: 1.5;
}

footer {
  color: black;
  margin-top: auto;
  margin-bottom: 3px;
  font-size: 16px;
  font-family: var(--heading-font-family);
}

footer a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

.wero-logo {
  width: 65px;
}

.weronika-thumbnail {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid black;
  padding: 2px;
}

.weronika-thumbnail-about {
  display: block;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 50%;
  padding: 2px;
  width: 200px;
  height: 200px;
}

.line-1 {
  background-color: black;
  height: 54px;
  width: 3px;
  margin: 0 auto;
}

.line-2 {
  background-color: black;
  height: 64px;
  width: 3px;
  margin: 0 auto;
}

.hero-container {
  margin-top: 180px;
  font-family: var(--heading-font-family);
  margin-bottom: 150px;
}

.hero-background {
  background-image: url(/images/Index-background-image.PNG);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 80px;
  height: 100vh;
}

.heading-container {
  margin-top: 180px;
}

.about-background {
  background-image: url(/images/About-background-image.PNG);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center -100px;
}

.about-paragraph {
  margin-top: 30px;
  padding: 0 200px;
}

.btn-branding {
  background-color: var(--primary-color);
  color: #ffff;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  box-shadow: var(--box-shadow);
}

.btn-branding:hover {
  background-color: var(--secondary-color);
  color: #ffff;
}

.contact-background {
  background-image: url(/images/Contact-background-image.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}

.contact-icon {
  color: #a130fc;
}

.contact-links {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: all 100ms ease-in-out #ffff;
}

.contact-links:hover {
  color: var(--primary-color);
}

.email-link {
  font-size: 24px;
  color: black;
  transition: all 100ms ease-in-out;
}

.email-link:hover {
  color: var(--primary-color);
}

.icon-links a {
  padding: 14px 11px 14px 13px;
  background-color: var(--secondary-color);
  margin: 0 20px;
  border-radius: 50%;
  font-size: 20px;
  transition: all 100ms ease-in-out;
}

.icon-links a:hover {
  background-color: var(--primary-color);
  color: #ffff;
}

@media (max-width: 768px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 28px;
    margin-bottom: 10px;
    line-height: 1.2;
  }

  p {
    font-size: 15px;
  }

  footer {
    font-size: 10px;
  }

  .weronika-thumbnail {
    width: 30%;
  }

  .hero-container {
    margin-top: 120px;
    margin-bottom: 40px;
  }

  .line-1 {
    height: 30px;
  }

  .about-paragraph {
    padding: 0 30px;
  }

  .contact-background {
    background-image: none;
  }

  .email-link {
    font-size: 15px;
  }

  .icon-links a {
    padding: 7px 5.5px 7px 6.5px;
    font-size: 10px;
  }
}
