:root {
  --primary-color: #a130fc;
  --secondary-color: #d7a5fe;
  --heading-font-family: "Poppins", sans-serif;
  --paragraph-font-family: "Italiana", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 68px;
  line-height: 1;
}

h2 {
  font-family: var(--paragraph-font-family);
  font-weight: 600;
  font-style: italic;
  font-size: 24px;
}

h3 {
  font-family: var(--heading-font-family);
  font-size: 44px;
}

p {
  font-family: var(--heading-font-family);
  font-size: 20px;
  font-weight: 200;
  line-height: 1.5;
}

footer {
  margin-top: 100px;
}

footer a {
  text-decoration: none;
  color: var(--primary-color);
}

.weronika-thumbnail {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid black;
  padding: 2px;
}

.line-1 {
  background-color: black;
  height: 54px;
  width: 3px;
  margin: 0 auto;
}

.hero-container {
  margin-top: 180px;
  font-family: var(--heading-font-family);
  margin-bottom: 150px;
}

.hero-background {
  background-image: url(/images/background-2.PNG);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 40px;
  height: 100vh;
}

.btn-branding {
  background-color: var(--primary-color);
  color: #ffff;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  box-shadow: var(--box-shadow);
}

@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 15px;
  }

  h3 {
    font-size: 28px;
  }

  p {
    font-size: 15px;
  }

  .weronika-thumbnail {
    width: 30%;
  }

  footer {
    margin: 30px;
    font-size: 10px;
  }

  .hero-container {
    margin-top: 90px;
    margin-bottom: 40px;
  }

  .line-1 {
    height: 30px;
  }
}
